
export(
       Args,
       aggregate.table,
       combine,
       ConvertMedUnits,
       drop.levels,
       elem,
       env,
       frameApply,
       interleave,
       is.what,
       keep,
       ll,
       lowerTriangle,
       "lowerTriangle<-",
       matchcols,
       nobs,
       read.xls,
       rename.vars,
       remove.vars,
       reorder.factor,
       resample,
       trim,
       unmatrix,
       upperTriangle,
       "upperTriangle<-",

       ## mapLevels stuff
       mapLevels,
       as.levelsMap,
       as.listLevelsMap,
       is.levelsMap,
       is.listLevelsMap,
       sort.levelsMap, ## FIXME remove in R 2.4
       "mapLevels<-",

       ## unknown stuff
       isUnknown,
       unknownToNA,
       NAToUnknown
)

importFrom(stats, reorder, na.omit)
importFrom(gtools, mixedsort)

S3method(nobs,data.frame)
S3method(nobs,default)
S3method(nobs,lm)
S3method(trim, character)
S3method(trim, default)
S3method(trim, factor)
S3method(trim, list)
S3method(trim, data.frame)
S3method(reorder,factor)

S3method(drop.levels, default)
S3method(drop.levels, factor)
S3method(drop.levels, list)
S3method(drop.levels, data.frame)

S3method(mapLevels, default)
S3method(mapLevels, character)
S3method(mapLevels, factor)
S3method(mapLevels, list)
S3method(mapLevels, data.frame)

S3method(print, levelsMap)
S3method(print, listLevelsMap)

S3method("[", levelsMap)
S3method("[", listLevelsMap)

S3method(c, levelsMap)
S3method(c, listLevelsMap)

S3method(unique, levelsMap)
## S3method(sort, levelsMap) ## FIXME uncomment in R 2.4

S3method("mapLevels<-", default)
S3method("mapLevels<-", list)
S3method("mapLevels<-", data.frame)

S3method(isUnknown, default)
S3method(isUnknown, POSIXlt)
S3method(isUnknown, list)
S3method(isUnknown, data.frame)

S3method(unknownToNA, default)
S3method(unknownToNA, factor)
S3method(unknownToNA, list)
S3method(unknownToNA, data.frame)

S3method(NAToUnknown, default)
S3method(NAToUnknown, factor)
S3method(NAToUnknown, list)
S3method(NAToUnknown, data.frame)
