
export(
       Args,
       aggregate.table,
       combine,
       combineLevels,
       ConvertMedUnits,
       drop.levels,
       elem,
       env,
       frameApply,
       interleave,
       is.what,
       keep,
       ll,
       lowerTriangle,
       "lowerTriangle<-",
       mapFactor,
       matchcols,
       nobs,
       read.xls,
       rename.vars,
       remove.vars,
       reorder.factor,
       resample,
       trim,
       unmatrix,
       upperTriangle,
       "upperTriangle<-"
)

importFrom(stats, reorder, na.omit)
importFrom(gtools, mixedsort)

S3method(nobs,data.frame)
S3method(nobs,default)
S3method(nobs,lm)
S3method(trim, character)
S3method(trim, default)
S3method(trim, factor)
S3method(trim, list)
S3method(trim, data.frame)
S3method(reorder,factor)

S3method(drop.levels, default)
S3method(drop.levels, factor)
S3method(drop.levels, list)
S3method(drop.levels, data.frame)
